{% set background = component.background is defined and component.background is not empty ? 'c-section--' ~ component.background : 'c-section--white' %}
<div class="c-section c-section--slim {{ background }}">
    <div class="c-strip u-container u-text-center">
        {% if component.description is defined and component.description is not empty %}
            <h1 class="c-strip__title u-h4-xs u-margin-xs-0">{{ component.description }}</h1>
        {% endif %}
        {% if component.button is defined and component.button is not empty %}
            <div class="c-strip__buttons u-margin-left-sm-2">
                {% for btn in component.button %}
                    {% if btn.text is defined and btn.text is not empty and btn.link is defined and btn.link is not empty and btn.type is defined and btn.type is not empty %}
                        <a class="c-btn-{{ btn.type }}" href="{{ btn.link }}">{{ btn.text }}</a>
                    {% endif %}
                    {% if btn.country_code is defined and btn.country_code is not empty and btn.text is defined and btn.text is not empty and btn.number is defined and btn.number is not empty and btn.type is defined and btn.type is not empty %}
                        <a class="c-btn-{{ btn.type }}" href="tel:+{{ btn.country_code }}{{ btn.number }}">{{ btn.text }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
