<div class="u-col-md-4">
    <div>
        <div class="c-advert-box u-padding-xs-4">
            <h3 class="u-margin-top-xs-0">Sponsored Ads</h3>
            <div class="u-row">
                <div class="u-col-xs-6">
                    {#{{function('adrotate_group', 1)}}#}
                </div>
                <div class="u-col-xs-6">
                    {#{{function('adrotate_group', 2)}}#}
                </div>
            </div>
            <div class="u-row">
                <div class="u-col-xs-6">
                    {#{{function('adrotate_group', 3)}}#}
                </div>
                <div class="u-col-xs-6">
                    {#{{function('adrotate_group', 4)}}#}
                </div>
            </div>
            <div class="u-row">
                <div class="u-col-xs-6">
                    {#{{function('adrotate_group', 5)}}#}
                </div>
                <div class="u-col-xs-6">
                    {#{{function('adrotate_group', 6)}}#}
                </div>
            </div>
            <div class="u-row">
                <div class="u-col-xs-6">
                    {#{{function('adrotate_group', 7)}}#}
                </div>
                <div class="u-col-xs-6">
                    {#{{function('adrotate_group', 8)}}#}
                </div>
            </div>
            <div class="u-row">
                <div class="u-col-xs-6">
                    {#{{function('adrotate_group', 9)}}#}
                </div>
                <div class="u-col-xs-6">
                    {#{{function('adrotate_group', 10)}}#}
                </div>
            </div>
        </div>
        <div class="c-advert-box u-padding-xs-4 u-margin-top-xs-4">
            <h3 class="u-margin-top-xs-0">Club Services</h3>
            <div class="u-row">
                <div class="u-col-xs-6">
                    {#{{function('adrotate_group', 11)}}#}
                </div>
                <div class="u-col-xs-6">
                    {#{{function('adrotate_group', 12)}}#}
                </div>
            </div>
            <div class="u-row">
                <div class="u-col-xs-6">
                    {#{{function('adrotate_group', 13)}}#}
                </div>
                <div class="u-col-xs-6">
                    {#{{function('adrotate_group', 14)}}#}
                </div>
            </div>
        </div>
    </div>
</div>
